#container1 {
    background-image: url('../img/backgrounds/gambar1.png');
    background-size: cover;
    height: 597px;
}

.navbar {
    background-color: #696cff;
}

.navbar-nav .nav-link {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
}

form .btn {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

#container2 {
    background-color: #696cff;
    height: 91px;
}

form .input-group {
    max-width: 7cm;
    max-height: 2cm;
    padding-top: 27px;
    left: 40%;
}

.image-background {
    padding-top: 50px;
    position: relative;
    top: 100%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 265px;
    background-image: url('../img/backgrounds/rafiki.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    font-family: 'Lexend Exa', sans-serif;
    padding-top: 50px;
    position: relative;
    top: 50%;
    left: 20%;
}

#container3 {
    height: 1058px;
}

.books {
    font-family: 'Kameron', sans-serif;
    padding-top: 20px;
}

.cover1 img {
    width: 264px;
    height: 346px;
    border-radius: 20px;
}

#judul {
    text-align: center;
    margin-top: 5px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}

#container4 {
    background-color: #696cff;
    height: 710px;
}

.features {
    font-family: 'Kameron', sans-serif;
    padding-top: 20px;
}

.card {
    width: 264px;
}

.card-body {
    text-align: center;
    background-color: #ffffff;
    width: 264px;
    height: 136px;
    border-radius: 0 0 10px 10px;
}

.card-title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.card-text {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.card-image {
    text-align: center;
    padding-top: 50px;
    background-color: #1C3882;
    width: 264px;
    height: 210px;
    border-radius: 10px 10px 0 0;
}

#container5 {
    height: 634px;
}

.location {
    font-family: 'Kameron', sans-serif;
}

.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Hapus garis bawah default pada link */
}

/* Menghapus titik hitam */
.nav-link.dropdown-toggle::before {
    content: none;
}

/* Menghilangkan background image (panah) */
.nav-link.dropdown-toggle::after {
    display: none;
}
